---
---
<!DOCTYPE html>
<html lang="en">
<head>
{% include google-tag-manager-head.html %}
  <!-- Start cookieyes banner -->
  <script id="cookieyes" type="text/javascript" src="https://cdn-cookieyes.com/client_data/4d58f851fda21f329d07e980/script.js"></script>
  <!-- End cookieyes banner -->
  {% include google-analytics.html %}
  <meta charset="UTF-8">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link rel="manifest" href="/manifest.webmanifest">
  <meta name="theme-color" content="#ffffff">
  <title>Navigation</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/theme.css">
</head>
<body>
{% include google-tag-manager-body.html %}
  {% include top-bar.html %}
  <script src="/js/pwa.js" defer></script>
</body>
</html>
